<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="robots" content="index,follow">
	<meta name="theme-color" content="#1f1e1e">
	<title>Oregon Trail</title>
	<meta name="description" content="The Oregon Trail is a text-based strategy video game developed by Don Rawitsch, Bill Heinemann, and Paul Dillenberger in 1971.">
	<meta property="og:title" content="Oregon Trail">
	<meta property="og:description" content="The Oregon Trail is a text-based strategy video game developed by Don Rawitsch, Bill Heinemann, and Paul Dillenberger in 1971.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://oregontrail.run">
	<meta property="og:image" content="https://oregontrail.run/img/og.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="730">
	<meta property="og:image:height" content="450">
	<meta property="og:image:alt" content="Oregon Trail - Sample run">
	<script src="js/lib/EncoderDecoderTogether.min.js" nomodule="" type="text/javascript"></script>
{{css}}
</head>
<body class="disable-select">
	<div id="terminal" class="crt" style="opacity: 0;"></div>

	<div class="simple-keyboard"></div>

	<noscript>
		<div class="js-disabled">Please enable JavaScript in your browser.</div>
	</noscript>

{{js}}
</body>
</html>