<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#1f1e1e">
	<title>Oregon Trail</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<script src="js/lib/EncoderDecoderTogether.min.js" nomodule="" type="text/javascript"></script>
{{css}}
</head>
<body class="disable-select">
	<div id="terminal"></div>

	<div class="simple-keyboard"></div>

	<noscript>
		<div class="js-disabled">Please enable JavaScript in your browser.</div>
	</noscript>

{{js}}
</body>
</html>